.header
  .header__main
    = link_to root_path do
      App-name
    = link_to new_review_path do
      .header__main__post
        Post
    .header__main__box
      .header__main__box__category
        Category
      .header__main__box__user
        User