.main_img
  .main_img__main
    .main_img__main__header
      .main_img__main__header__name
        Reviews
    .main_img__main__box
      .main_img__main__box__content
        .main_img__main__box__content__name
          キングダム
        .main_img__main__box__content__image
          .main_img__main__box__content__image__box
            
        .main_img__main__box__content__wriget
          .main_img__main__box__content__wriget__point
            ジャンル
          .main_img__main__box__content__wriget__comment
            青年漫画・戦国時代（中国）
        .main_img__main__box__content__wriget
          .main_img__main__box__content__wriget__point
            コメント
          .main_img__main__box__content__wriget__comment
            絶対読んだほうがいい！
        .main_img__main__box__content__user
          Hiroto
