.main_img
  .main_img__main
    .main_img__main__header
      .main_img__main__header__name
        Post
    .main_img__main__post
      .main_img__main__post__title
        .main_img__main__post__title__point
          Title


      .main_img__main__post__title
        .main_img__main__post__title__point
          Image

      .main_img__main__post__title
        .main_img__main__post__title__point
          Genre

      .main_img__main__post__title
        .main_img__main__post__title__point
          Comment
      
      .main_img__main__post__send
        .main_img__main__post__send__btn
          Send