
.main_img
  .main_img__main
    .main_img__main__header
      .main_img__main__header__name
        Sing up
      .main_img__main__box
        .main_img__main__box__form-box
          .main_img__main__box__form-box__point
            名前
          %input.login-input-text{:name => "name", :placeholder => "", :type => "name", :value => ""}/

        .main_img__main__box__form-box
          .main_img__main__box__form-box__point
            アドレス
          %input.login-input-text{:name => "e-mail", :placeholder => "", :type => "e-mail", :value => ""}/

        .main_img__main__box__form-box
          .main_img__main__box__form-box__point
            パスワード
          %input.login-input-text{:name => "password", :placeholder => "", :type => "password", :value => ""}/

        .main_img__main__box__form-box
          .main_img__main__box__form-box__point
            再確認
          %input.login-input-text{:name => "re.password", :placeholder => "", :type => "password", :value => ""}/

        .main_img__main__box__name
          お気に入りの本
        
        .main_img__main__box__create
          .main_img__main__box__create__name
            .main_img__main__box__create__name__point
              タイトル
            %input.login-input-title{:name => "title", :placeholder => "", :type => "name", :value => ""}/
          .main_img__main__box__create__image
            .main_img__main__box__create__image__box__point
              画像
            %input.main_img__main__box__create__image__box{:name => "image", :placeholder => "", :type => "file", :value => ""}/
            
          .main_img__main__box__create__wriget
            .main_img__main__box__create__wriget__point
              ジャンル
            %input.login-input-wriget{:name => "genre", :placeholder => "", :type => "name", :value => ""}/
          .main_img__main__box__create__wriget
            .main_img__main__box__create__wriget__point
              コメント
            %input.login-input-wriget{:name => "comment", :placeholder => "", :type => "name", :value => ""}/


        .main_img__main__box__create
          .main_img__main__box__create__name
            .main_img__main__box__create__name__point
              タイトル
            %input.login-input-title{:name => "title", :placeholder => "", :type => "name", :value => ""}/
          .main_img__main__box__create__image
            .main_img__main__box__create__image__box__point
              画像
            %input.main_img__main__box__create__image__box{:name => "image", :placeholder => "", :type => "file", :value => ""}/
          .main_img__main__box__create__wriget
            .main_img__main__box__create__wriget__point
              ジャンル
            %input.login-input-wriget{:name => "genre", :placeholder => "", :type => "name", :value => ""}/
          .main_img__main__box__create__wriget
            .main_img__main__box__create__wriget__point
              コメント
            %input.login-input-wriget{:name => "comment", :placeholder => "", :type => "name", :value => ""}/
            

        .main_img__main__box__create
          .main_img__main__box__create__name
            .main_img__main__box__create__name__point
              タイトル
            %input.login-input-title{:name => "title", :placeholder => "", :type => "name", :value => ""}/
          .main_img__main__box__create__image
            .main_img__main__box__create__image__box__point
              画像
            %input.main_img__main__box__create__image__box{:name => "image", :placeholder => "", :type => "file", :value => ""}/
          .main_img__main__box__create__wriget
            .main_img__main__box__create__wriget__point
              ジャンル
            %input.login-input-wriget{:name => "genre", :placeholder => "", :type => "name", :value => ""}/
          .main_img__main__box__create__wriget
            .main_img__main__box__create__wriget__point
              コメント
            %input.login-input-wriget{:name => "comment", :placeholder => "", :type => "name", :value => ""}/
        
        .main_img__main__box__send
          //=link_to view_review_path do
          %input.main_img__main__box__send__btn{:name => "create", :placeholder => "", :type => "submit", :value => "アカウントを作成"}/
          
